.Consultanp__outter {
  width: 100%;
  position: relative;
}

.Consultanp__inner {
  width: 40%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 0%);
  background-color: rgba(214, 214, 214, 0);
}

.Blank__Space {
  width: 100%;
  height: 200px;
}

.Consultanp__pad {
  padding-bottom: 15px;
}

.Consultanp__seleccionar {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
  width: 90%;
  margin: 0 auto;
}

.Consultanp__seleccionar__item {
  width: 100%;
  height: 150px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
  background-color: rgba(192, 25, 41, 0.624);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.Consultanp__seleccionar__item:hover {
  box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
  background-color: rgba(192, 25, 41, 0.864);
  text-decoration: underline transparent;
}

.Consultanp__seleccionar__img__2 {
  width: 70%;
}

.Consultanp__seleccionar__img__1 {
  width: 50%;
}

.Consultanp__seleccionar__img__3 {
  width: 50%;
}
