body {
  background-color: #f7f7f7;
  height: 100%;
}
.Home__outter {
  width: 100%;
}
.Home {
  margin: 0 auto;
}
.Blank__space {
  width: 100%;
  height: 40px;
}
.Home__welcome {
  width: 1100px;
  margin: 0 auto;
  display: grid;
  position: relative;
  grid-template-columns: 40% 60%;
}
.Home__welcome__evolucion {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}
.Home__welcome__text__1 {
  font-size: 34px;
  width: 95%;
  font-weight: bold;
}
.Home__welcome__text__2 {
  padding-top: 20px;
  width: 80%;
}
.Home__welcome__img {
  width: 100%;
}
.Home__welcome__button {
  height: 90px;
  width: 250px;
  position: absolute;
  background-color: white;
  top: 0;
  left: 100%;
  transform: translate(-100%, -50%);
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  display: grid;
  grid-template-columns: 20% 65% 15%;
  cursor: pointer;
}
.Home__welcome__button__1 {
  height: 90px;
  width: 250px;
  position: absolute;
  background-color: white;
  top: 0;
  left: 100%;
  transform: translate(-210%, -50%);
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  display: grid;
  grid-template-columns: 20% 65% 15%;
  cursor: pointer;
}
.Home__welcome__button__item {
  position: relative;
}
.Home__welcome__button__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 9.5px;
  padding-right: 9.5px;
  padding-top: 15px;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 100%;
}
.Home__welcome__button__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 15px;
}
.Home__welcome__button__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
}

.Home__welcome__button__1:hover {
  box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
}
.Home__welcome__button:hover {
  box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
}
.Home__welcome__button__video {
  width: 150px;
  height: 50px;
  background-color: rgba(192, 25, 41, 0.748);
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
}

.Home__welcome__button__video:hover {
  box-shadow: 0 1px 8px rgb(192 25 41 / 50%);
}

.Home__especialidades {
  margin: 0 auto;
  width: 1100px;
  height: 100px;
  background-color: white;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Home__especialidades__item {
  position: relative;
  width: 100%;
  height: 100px;
  cursor: pointer;
  transition: 0.5s;
}

.Home__especialidades__item:hover {
  height: 90px;
}

.Home__especialidades__img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.Home__especialidades__img__1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24%;
}

.Home__especialidades__img__2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28%;
}

.Home__especialidades__text {
  position: absolute;
  text-align: center;
  top: 70%;
  width: 100%;
}

.Home__especialidades__info {
  margin: 0 auto;
  width: 1100px;
  height: 480px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.Home__especialidades__info__img__outter {
  position: relative;
  width: 100%;
}

.Home__especialidades__info__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.Home__especialidades__info__text {
  width: 100%;
  position: relative;
}
.Home__especialidades__info__text__1 {
  font-size: 35px;
  width: 100%;
  top: 0%;
  position: absolute;
  font-weight: bold;
  transition: 0.5s;
}

.Home__especialidades__info__text__2 {
  padding-top: 20px;
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: justify;
}

.Home__especialidades__info__text__item {
  transition: 0.5s;
}

.Home__especialidades__info__text__button {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 73%;
  background-color: rgba(192, 25, 41, 0.748);
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
}

.Home__especialidades__info__text__button:hover {
  box-shadow: 0 1px 8px rgb(192 25 41 / 50%);
}
button,
button:active,
button:hover {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
