.Login__container__outter {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.Login__container__inner {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  border-radius: 40px;
  width: 300px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 0%);
  margin: 0 auto;
}

.Text__container {
  padding-bottom: 30px;
  font-weight: lighter;
  text-align: center;
  font-size: 30px;
  color: rgb(57, 57, 57);
  margin: 0 auto;
}

.Login__container__text {
  color: rgb(57, 57, 57);
  width: 90%;
  margin: 0 auto;
}
.Login__image {
  width: 45%;
  margin: 0 auto;
}

.Login__container {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.Login__buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  margin: 0 auto;
  width: 100%;
}

.Login__button {
  display: grid;
  align-content: center;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgba(192, 25, 41, 0.748);
}

.Login__button:hover {
  background-color: rgba(192, 25, 41, 0.748);
  box-shadow: 0 1px 8px rgb(192 25 41 / 50%);
}

.Login__button__inner {
  align-content: center;
  margin: 0 auto;
  width: 100%;
}
