.New__user {
  width: 100%;
}

.New__user__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 0 auto;
  width: 60%;
}

.Text__user__register {
  font-weight: 900;
  font-size: 30px;
  color: white;
}
