@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1121px) {
  .PyS__Telemedicina {
    height: 700px;
  }

  .PyS__Telemedicina__1 {
    height: 700px;
  }

  .PyS__Telemedicina__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1100px;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .PyS__Telemedicina__inner__1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1100px;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .PyS__Telemedicina__inner__2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1100px;
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .PyS__Telemedicina__inner__img__1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .manilla__img {
    height: 500px;
  }

  .iphone__img {
    height: 500px;
    z-index: 2;
  }

  .video__img {
    height: 475px;
    z-index: 1;
  }

  .PyS__Telemedicina__inner__img__1__logo {
    top: 33%;
    left: 48.2%;
    width: 120px;
  }

  .PyS__Telemedicina__inner__info__1 {
    transform: translate(0, -50%);
  }

  .PyS__Telemedicina__inner__img__inner {
    width: 100%;
    grid-template-columns: 30% 70%;
  }

  .PyS__Telemedicina__inner__img__inner__manilla {
    height: 600px;
  }

  .PyS__Telemedicina__inner__img__inner__iphone {
    height: 600px;
  }
}

@media screen and (max-width: 1120px) and (min-width: 901px) {
  .PyS__Telemedicina {
    height: 700px;
  }

  .PyS__Telemedicina__1 {
    height: 700px;
  }

  .PyS__Telemedicina__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .PyS__Telemedicina__inner__1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .PyS__Telemedicina__inner__2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    display: grid;
    grid-template-columns: 60% 45%;
  }

  .PyS__Telemedicina__inner__img__1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .manilla__img {
    height: 400px;
  }

  .iphone__img {
    height: 400px;
    z-index: 2;
  }

  .video__img {
    height: 375px;
    z-index: 1;
  }

  .PyS__Telemedicina__inner__img__1__logo {
    top: 37%;
    left: 47.2%;
    width: 120px;
  }

  .PyS__Telemedicina__inner__info__1 {
    transform: translate(0, -50%);
  }

  .PyS__Telemedicina__inner__img__inner {
    width: 100%;
    grid-template-columns: 30% 70%;
  }

  .PyS__Telemedicina__inner__img__inner__manilla {
    height: 600px;
  }

  .PyS__Telemedicina__inner__img__inner__iphone {
    height: 600px;
  }
}

@media screen and (max-width: 900px) {
  .PyS__Telemedicina__inner {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
  }

  .PyS__Telemedicina__inner__1 {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
  }

  .PyS__Telemedicina__inner__2 {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
  }

  .PyS__Telemedicina__inner__img__1 {
    padding-top: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  .manilla__img {
    height: 400px;
  }

  .iphone__img {
    height: 400px;
    z-index: 1;
  }

  .video__img {
    height: 375px;
    z-index: 2;
  }

  .PyS__Telemedicina__inner__img__1__logo {
    top: 37%;
    left: 47.2%;
    width: 25%;
  }

  .PyS__Telemedicina__inner__img__inner {
    width: 320px;
    left: 50%;
    transform: translate(-50%, 0);
    grid-template-columns: 20% 70%;
  }

  .PyS__Telemedicina__inner__img__inner__manilla {
    height: 450px;
  }

  .PyS__Telemedicina__inner__img__inner__iphone {
    height: 450px;
  }
}

.PyS__Telemedicina {
  width: 100%;
  position: relative;
}

.PyS__Telemedicina__1 {
  width: 100%;
  position: relative;
  background-color: white;
}

.PyS__Telemedicina__inner__img__1 {
  width: 100%;
}

.manilla__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.iphone__img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.video__img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding-left: 4px;
}

.PyS__Telemedicina__inner__img__1__logo {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: blink 4s;
  animation-iteration-count: infinite;
}

.PyS__Telemedicina__inner__img__inner {
  display: grid;
  position: relative;
}

.PyS__Telemedicina__inner__img {
  position: relative;
  height: 100%;
}

.PyS__Telemedicina__inner__info {
  position: relative;
}

.PyS__Telemedicina__inner__info__1 {
  position: relative;
  top: 50%;
}

.PyS__Telemedicina__inner__info__text__1 {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.PyS__Telemedicina__inner__info__text__2 {
  font-size: 34px;
  width: 100%;
  font-weight: bold;
}

.PyS__Telemedicina__inner__info__text__3 {
  padding-top: 20px;
  text-align: justify;
  width: 100%;
}

.PyS__Telemedicina__inner__info__buttons {
  display: flex;
  width: 100%;
}

.Blank__space__vertical {
  width: 20px;
}

.PyS__Telemedicina__inner__img__inner__manilla {
  position: relative;
}

.PyS__Telemedicina__inner__img__inner__iphone {
  width: 250px;
  position: relative;
}
