.Bottombar__outer {
  position: relative;
  height: 340px;
  width: 100%;
  box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
  background-color: rgb(255, 255, 255);
}

.Bottombar__inner {
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 180px;
  top: 35%;
  left: 100%;
  transform: translate(-105%, -50%);
  color: black;
  display: grid;
  grid-template-columns: 100px 200px;
}

.Bottombar__contacto__text {
  position: relative;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  border-left: solid rgb(131, 131, 131);
}

.Bottombar__contacto__item {
  padding-top: 10px;
  display: grid;
  font-size: 13px;
  grid-template-columns: 15% 82%;
  border-bottom: dotted rgb(131, 131, 131);
  padding-bottom: 10px;
}

.Bottombar__img {
  padding-top: 45px;
  width: 100%;
  position: relative;
  padding-right: 20px;
}

.Partner__img {
  width: 100%;
}

.Bottombar__contacto__item__img {
  padding-top: 15px;
  width: 100%;
}

.Bottombar__contacto__item__text {
  padding-left: 10px;
}

.Bottombar__contacto__item__img__1 {
  padding-top: 3px;
  width: 100%;
}

.Bottombar__contacto__item__text__1 {
  padding-left: 10px;
  padding-top: 5.5px;
}

.Bottombar__contacto__item__img__2 {
  padding-top: 3px;
  width: 100%;
}

.Bottombar__contacto__item__text__2 {
  padding-left: 10px;
  padding-top: 5.5px;
}

.Copy__text__outter {
  position: relative;
  top: 100%;
  width: 100%;
  padding-top: 20px;
  border-top: solid rgb(131, 131, 131);
  text-align: center;
  transform: translate(-0%, -100%);
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
}
